# Домашнее задание №1

В этом домашнем задании вы познакомитесь с платформой Kaggle, а также поучаствуете в небольшом сореврновании, которое поможет закрепить вам знания, полученные на наших лекциях.

Соревнование можно найти по ссылке: https://www.kaggle.com/c/mytracker-mlhomework1-fall20 \
Для того, чтобы присоединиться к этому соревнованию, перейдите по ссылке: https://www.kaggle.com/t/ebaddc30cce54e329c64f7504b274c2c \
Скачать данные можно во вкладке `Data`, в которой находится 3 файла:
 - `train.csv` - обучающая выборка
 - `test.csv` - тестовая выборка
 - `sampleSubmission.csv` - пример сабмита, который вы должны будете загрузить на Kaggle, чтобы предоставить свое решение (аналогичный файл мы с вами сгенерируем в этом ноутбуке)
 
Описание данных вы можете прочитать также на Kaggle.

Несколько основных моментов данного домашнего задания:
 1. Метрикой является RMSE (Root Mean Square Error, https://en.wikipedia.org/wiki/Root-mean-square_deviation).
 2. Тестовая выборка из файла `test.csv` разделена на 2 части: 
  - __Public Leaderboard__ - во время участия вы можете ориентироваться на этот лидерборд, чтобы оценивать ваше решение, а также видеть несколько наших бенчмарков и решения других участников.\
  **Важный момент**. Оценка на Public Leaderboard строится не на всех примерах из `test.csv`, а только на 60% (каких именно узнать нельзя).
  - __Private Leaderboard__ - откроется только после окончания соревнования. Именно по нему мы будем распределять баллы и он состоит из оставшихся 40% примеров из `test.csv`.
 3. Мы надеемся на то, что вы будете не только использовать модели машинного обучения, которые мы будем проходить по ходу лекций, но и попробуете сами изучить данные и сделать прогнозы "руками". Соревнование будет длиться достаточно долго (до 23.11), тем самым будет неплохо, если вы сможете изучить выданные датасеты, чтобы сделать более качественный прогноз.
 4. В день можно отправить до 5 посылок с решением, так что не оставляйте все на последний день.
 5. В конце соревнования ТОП10 участников мы попросим прислать рабочий ноутбук с их решением, чтобы убедиться, что никто не пытался сжульничать, так что держите свое решение "в чистоте", чтобы по окончанию соревнования его можно было показать нам.
 6. В соревновании нет ограничений на модели или подходы, которые вы будете использовать, если они не выходят за рамки данных, предоставленных в данном соревновании.

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
import pandas_profiling
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt

In [81]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
submission_filename = 'data/sampleSubmission.csv'

In [4]:
def percentile(n):
    def percentile_(x):
        return np.percentile(x, n)
    percentile_.__name__ = 'percentile_%s' % n
    return percentile_

In [82]:
train['Date'] =pd.to_datetime(train.Date)
train.loc[:,'Holiday'].fillna(0, inplace=True)
train.tail()

        Store  DayOfWeek       Date  Sales  Customers  Open  Promo  Holiday
963684     73          1 2016-11-01      0          0     0      0      1.0
963685    649          1 2016-11-01      0          0     0      0      1.0
963686    429          1 2016-11-01      0          0     0      0      1.0
963687    898          1 2016-11-01      0          0     0      0      1.0
963688    704          1 2016-11-01      0          0     0      0      1.0

In [6]:
train['Date'].agg([np.max, np.min])

amax   2019-04-13
amin   2016-11-01
Name: Date, dtype: datetime64[ns]

In [83]:
train2 = train[(train['Holiday']==0) & (train['Promo']==0)].sort_values('Date').reset_index().drop('index', axis=1)
train2.head()

   Store  DayOfWeek       Date  Sales  Customers  Open  Promo  Holiday
0    704          2 2016-11-02   3697        305     1      0      0.0
1    767          2 2016-11-02   3389        413     1      0      0.0
2    187          2 2016-11-02   5062        814     1      0      0.0
3    163          2 2016-11-02   5995        842     1      0      0.0
4    941          2 2016-11-02   8178       1008     1      0      0.0

In [84]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.ensemble import RandomForestRegressor

X_train = train2.loc[:int(train2.shape[0]),['Store', 'DayOfWeek']]
y_train = train2.loc[:int(train2.shape[0]),['Sales']]
X_test = train.loc[int(train.shape[0]*0.7):,['Store', 'DayOfWeek']]
y_test = train.loc[int(train.shape[0]*0.7):,['Sales']]
X_test_r = test.loc[:int(test.shape[0]),['Store', 'DayOfWeek']]
#X_train, X_test, y_train, y_test = TimeSeriesSplit(X, y, test_size=0.3, random_state=17)

In [35]:
from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits=5)
i = 1
score = []
for tr_index, val_index in tscv.split(X_train):
    print(tr_index, val_index)

[     0      1      2 ... 112430 112431 112432] [112433 112434 112435 ... 224860 224861 224862]
[     0      1      2 ... 224860 224861 224862] [224863 224864 224865 ... 337290 337291 337292]
[     0      1      2 ... 337290 337291 337292] [337293 337294 337295 ... 449720 449721 449722]
[     0      1      2 ... 449720 449721 449722] [449723 449724 449725 ... 562150 562151 562152]
[     0      1      2 ... 562150 562151 562152] [562153 562154 562155 ... 674580 674581 674582]

In [40]:
from sklearn.model_selection import TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits=2)
i = 1
score = []
for tr_index, val_index in tscv.split(X_train):
    X_tr, X_val = X_train.loc[tr_index], X_train.loc[val_index]
    y_tr, y_val = y_train.loc[tr_index], y_train.loc[val_index]
    for ne in np.linspace(50, 100, 2):
        for md in np.linspace(10, 21, 2):
            for msl in np.linspace(30, 51, 2):
                rfr = RandomForestRegressor(
                    
                    
                    n_estimators=int(ne),
                    max_depth=int(md),
                    min_samples_leaf=int(msl))
                rfr.fit(X_tr, y_tr)
                score.append([i,
                              mf, 
                              ne,
                              md, 
                              msl, 
                              rfr.score(X_val, y_val)])
    i += 1

/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [ ]:
for_cycle=np.sort(train['Store'].unique())

In [85]:
tscv = TimeSeriesSplit(n_splits=5)
i = 1
score = []

for tr_index, val_index in tscv.split(X_train):
    X_tr, X_val = X_train.loc[tr_index], X_train.loc[val_index]
    y_tr, y_val = y_train.loc[tr_index], y_train.loc[val_index]

    rfr = RandomForestRegressor(


        n_estimators=100,
        max_depth=45,
        min_samples_leaf=5)
    rfr.fit(X_tr, y_tr)
    score.append([i,
                  mf, 
                  ne,
                  md, 
                  msl, 
                  rfr.score(X_val, y_val)])

    print(i)

/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

1

/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

1

/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

1

/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

1

/home/david/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

1

In [86]:
score

[[1, 0.0, 100.0, 21.0, 51.0, 0.924020976871715],
 [1, 0.0, 100.0, 21.0, 51.0, 0.8417200314487623],
 [1, 0.0, 100.0, 21.0, 51.0, 0.9339460172906715],
 [1, 0.0, 100.0, 21.0, 51.0, 0.8640951766301952],
 [1, 0.0, 100.0, 21.0, 51.0, 0.9259701973298913]]

In [55]:
rfr.predict(X_test_r)

array([   0.        , 9263.01758292, 8522.59052707, ..., 4553.6819907 ,
       4452.53181889, 4793.17512297])

In [80]:
test['Date'].agg([np.max, np.min])

amax   2019-05-31
amin   2019-04-14
Name: Date, dtype: datetime64[ns]

In [73]:
test.describe()

                 ID         Store     DayOfWeek  Holiday
count  13104.000000  13104.000000  13104.000000  13104.0
mean    6552.500000    588.311355      2.958333      0.0
std     3782.943299    318.998619      1.999642      0.0
min        1.000000     12.000000      0.000000      0.0
25%     3276.750000    294.000000      1.000000      0.0
50%     6552.500000    600.000000      3.000000      0.0
75%     9828.250000    862.000000      5.000000      0.0
max    13104.000000   1113.000000      6.000000      0.0

In [124]:
s1 = pd.merge(test,sum_train_period , how='left', on=['Store', 'DayOfWeek'])
s1

          ID  Store  DayOfWeek       Date  Holiday    Sales
0          1     12          6 2019-04-14        0      0.0
1          2     12          0 2019-04-15        0  10454.8
2          3     12          1 2019-04-16        0   9166.0
3          4     12          2 2019-04-17        0   8888.4
4          5     12          3 2019-04-18        0   7273.0
...      ...    ...        ...        ...      ...      ...
13099  13100   1113          0 2019-05-27        0   8350.6
13100  13101   1113          1 2019-05-28        0   5638.8
13101  13102   1113          2 2019-05-29        0   5727.6
13102  13103   1113          3 2019-05-30        0   5480.0
13103  13104   1113          4 2019-05-31        0   5136.0

[13104 rows x 6 columns]

In [79]:
submission = test['ID'].to_frame()
submission['prediction'] = rfr.predict(X_test_r)
submission.head()

   ID   prediction
0   1     0.000000
1   2  7509.996474
2   3  6850.193488
3   4  6767.574492
4   5  6749.319425

In [80]:
submission.to_csv('sampleSubmission.csv', index=None)